* {
    box-sizing: border-box;
    border: none;
}

header {
    color: white;
    background-color: #4B8378;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f0ead6;
    font-family: 'Playfair Display', serif;
}

p {
    margin-top: 10px;
    color: #4B8378;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-left: 16px;
    font-size: 20px;
}

form {
    border: none;
}

legend {
    font-size: 18px;
    color: #4B8378;
    margin-bottom: 5px;
}

.contact-container label {
    display: block; 
    margin-top: 24px;
    font-size: 18px;
    color: #4B8378;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="option"],
input[type="number"],
textarea,
#state-select {
    display: block; 
    width: 100%;
    margin: 10px 0;
    padding: 15px; 
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: #E4D7D0;
    border: none;
    border-radius: 4px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
} 

input[type="text"]:hover {
    background-color: #FF8229;
}

input[type="tel"]:hover {
    background-color: #FF8229;
}

input[type="email"]:hover {
    background-color: #FF8229;
}

input[type="option"]:hover {
    background-color: #FF8229;
}

input[type="number"]:hover {
    background-color: #FF8229;
}

#state-select:hover {
    background-color: #FF8229;
}

textarea:hover {
    background-color: #FF8229;
    width: 100%;
}

input:focus {
    border: 4px solid #FF8229;
}

button {
    background-color: #FF8229;
    border: none;
    color: white;
    padding: 15px 100px;
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
  }

footer {
    padding: 30px;
    text-align: center;
    font-style: italic;
    color: #4B8378;
}

.contact-info {
    margin-bottom: 0;
    margin-top: 3px;
    padding-top: 30px;
    border-top: 2px solid black;
}

.sfon-container {
    text-align: center;
    border-bottom: 4px solid black;
    padding: 15px;
}

.signup {
    margin-bottom: 0%;
    padding-left: 0;
}

.contact-container {
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

::placeholder {
    text-align: end;
    font-size: 12px;
    font-style: italic;
    padding: 5px;
    color: #4B8378;
}

.signup-button {
    margin: auto;
    width: fit-content;
}

#user-select {
    margin: 0;
}

.newsletter-container label {
    color: #4B8378;
}

input:invalid {
    border: 2px dashed red;
}
  
input:invalid:required {
    background-color: red;
}
  
input:valid {
    border: 2px solid black;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: 40px;
}

#zip {
    display: inline-block;
    width: 25%;
}

@media (min-width:768px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    header h1 {
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="option"],
    input[type="number"],
    #state-select {
        display: inline-block;
        width: 75%;
        padding: 15px;
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        background-color: #E4D7D0;
        border: none;
        border-radius: 4px;
    }

    input:focus {
        border: 4px solid #FF8229;
    }
        
    .contact-container label {
        display:inline-block;
        padding-top: 5px;
        width: 140px;
        margin-top: 24px;
        font-size: 18px;
        color: #4B8378;
    }

    button {
        background-color: #FF8229;
        border: none;
        color: white;
        text-decoration: none;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        cursor: pointer;
        font-weight: 500;
        font-size: 30px;
        border-radius: 4px;
        width: 100%;
      }
    
      textarea {
          display: inline-block; 
          width: 100%;
          margin-top: 20px;
          padding: 60px; 
          font-size: 18px;
          font-family: 'Nunito', sans-serif;
          background-color: #E4D7D0;
          border: none;
          border-radius: 4px;
      } 

    .signup-button {
        width: fit-content;
    }
    
    #user-select {
        margin: 0;
    }
    
    .newsletter-container label {
        color: #4B8378;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
        display: inline-block;
        width: 40px;
    }

    footer {
        padding-bottom: 30px;
        padding-top: 0px;
        text-align: center;
        font-style: italic;
        color: #4B8378;
    }
    
}